<%- include("template/headers") %>

<div class="jumbotron">
    <h1 class="display-3 text-center p-3" style="color: rgb(0, 0, 0);"><b>Calculadora para Freelance</b></h1>
    <hr class="m-0" style="color:rgb(0, 0, 0)"><br><br>
    <p class="lead col-8 mx-auto text-center " style="color: rgb(0, 0, 0);"><b>Si usted es un programador freelance, sabiendo que muchas veces
            las ofertas
            laborales se expresan en valor hora, le traiga aqui la solución a saber cuanto va a cobrar por semana, mes y
            año,
            lo unico que necesitamos para empezar es saber el valor de la hora.</b></p><br>
</div>


<form action="/calculadora" method="post" class="input-group w-25 m-auto">
    
    <span class="input-group-text my-2" >u$d</span>
    <input 
        type="number"
        placeholder="0.00"
        class="form-control my-2"
        name="valor"
        required
    > 
    <span class="input-group-text my-2">Hs</span>
    <input 
        type="number"
        placeholder="0"
        class="form-control my-2"
        name="horas"
        required 
    >
    <span class="input-group-text my-2">Dias</span>
    <input 
        type="number"
        placeholder="0"
        class="form-control my-2"
        name="dias"
        required
    >
    
    <button class="btn btn-success btn-block w-100 my-2" type="submit">
        Calcular
    </button>  
    
</form>


<form action="/calculadora" name="envia" method="post" class="form-control bg-dark w-25 m-auto">
    <% if (arrayCalculadora.length > 0) { %>
        <% arrayCalculadora.forEach(element => { %>
            <div class="input-group">
                <span class="input-group-text w-25 my-2">Semana</span> 
                <output name="semana" type="number" class="form-control my-2" placeholder="0.00" ><%= element.semana %> </output>
            </div>
            <div class="input-group">
                <span class="input-group-text w-25 my-2">Mes</span> 
                <output name="mes" type="number" class="form-control my-2" placeholder="0.00"><%= element.mes %> </output>
            </div>
            <div class="input-group ">
                <span class="input-group-text w-25 my-2">Año</span> 
                <output name="anio" type="number" class="form-control my-2" placeholder="0.00"><%= element.anio %> </output>
            </div>
        <% }) %>
    <% } %>
    
</form>



<!--   EJEMPLO
<span>Valor #1</span>
    <input type="text" id="txt_campo_1" onchange="sumar(this.value);" />
    <br>
<span>Valor #2</span>
    <input type="text" id="txt_campo_2" onchange="sumar(this.value);" />
    <br>
<span>Valor #3</span>
    <input type="text" id="txt_campo_3" onchange="sumar(this.value);" />
    <br>
<span>El resultado es: </span> <span id="spTotal"></span>

<script>
    function sumar (valor) {
        var total = 0;	
        valor = parseInt(valor); // Convertir el valor a un entero (número).
        
        total = document.getElementById('spTotal').innerHTML;
        
        // Aquí valido si hay un valor previo, si no hay datos, le pongo un cero "0".
        total = (total == null || total == undefined || total == "") ? 0 : total;
        
        // Esta es la suma. 
        total = (parseInt(total) + parseInt(valor));
        
        // Colocar el resultado de la suma en el control "span".
        document.getElementById('spTotal').innerHTML = total;
    }
</script>
-->