<%- include("template/headers") %>

<div class="jumbotron">
    <h1 class="display-3 text-center p-3" style="color: rgb(0, 0, 0);"><b>Calculadora para Freelance</b></h1>
    <hr class="m-0" style="color:rgb(0, 0, 0)"><br><br>
    <p class="lead col-8 mx-auto text-center " style="color: rgb(0, 0, 0);"><b>Si usted es un programador freelance, sabiendo que muchas veces
            las ofertas
            laborales se expresan en valor hora, le traiga aqui la solución a saber cuanto va a cobrar por semana, mes y
            año,
            lo unico que necesitamos para empezar es saber el valor de la hora.</b></p><br>
</div>

<form action="" method="post" class="input-group w-25 m-auto">
    <span class="form-control my-2" >u$d</span>
    <input 
        type="number"
        placeholder="0.00"
        class="form-control my-2"
        name="valor"
        required
    >
    <span class="m-2"></span>
    <span class="form-control my-2">Dias</span>
    <input 
        type="number"
        placeholder="0"
        class="form-control my-2"
        name="dias"
        required
    >
    <button class="btn btn-success btn-block  w-75 m-auto" type="submit">
        Calcular
    </button>   
</form>
<br>

<div class="input-group w-25 m-auto">
    <span class="input-group-text w-25"  id="addon-wrapping">Semana</span> 
    <output name="semana" type="number" class="form-control" placeholder="0.00" aria-label="valorH" aria-describedby="addon-wrapping" >
</div> <br>
<div class="input-group w-25 m-auto">
    <span class="input-group-text w-25"  id="addon-wrapping">Mes</span> 
    <output name="mes" type="number" class="form-control" placeholder="0.00" aria-label="valorH" aria-describedby="addon-wrapping" >
</div> <br>
<div class="input-group w-25 m-auto">
    <span class="input-group-text w-25"  id="addon-wrapping">Año</span> 
    <output id="anio" name="result" type="number" class="form-control" placeholder="0.00" aria-label="valorH" aria-describedby="addon-wrapping" >
</div>  