<%- include("template/headers") %>

<div class="cointainer w-75 m-auto">
    <h1 class="text-center m-2">Crear</h1>
    <form action="/mascotas" method="post" class="form-control w-75 m-auto">
        <input 
            type="text"
            placeholder="Agregar nombre"
            class="form-control my-2"
            name="nombre"
        >
        <input 
            type="text"
            placeholder="Agregar descripcion"
            class="form-control my-2"
            name="descripcion"
        >
        <button class="btn btn-success btn-block w-100" type="submit">
            Agregar
        </button>
    </form>

</div>
    
    
