<%- include("template/headers") %>

    <div class="cointainer">
        <h1 class="text-center m-2">Crear</h1>
        <form action="">
            <input 
                type="text"
                placeholder="Agregar nombre"
                class="form-control my-2"
            >
            <input 
                type="text"
                placeholder="Agregar descripcion"
                class="form-control my-2"
            >
            <button class="btn btn-success btn-block w-100" type="submit">
                Agregar
            </button>
        </form>

    </div>
        
    
