<%- include("template/headers") %>

<div class="container text-center">

    <button class="btn btn-success btn-block w-75 m-5" >
        <h1 >CRUD Mongo</h1>
        <a href="./mascotas/crear">
            Crear nueva mascotas
        </a>
        
    </button>


    <table class="table table-dark table-hover w-75 m-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>

            <% if (arrayMascotas.length > 0) { %>
                <% arrayMascotas.forEach(mascotas => { %>
                    <tr>
                        <th scope="row"><%= mascotas.id %></th>
                        <td><%= mascotas.nombre %></td>
                        <td><%= mascotas.descripcion %></td>
                        <td>Accion</td>
                    </tr>
                <% }) %>
            <% } %>           
        </tbody>
    </table>   
</div>