<%- include("template/headers") %>

<div class="mx-auto m-5" style="width: 350px;">
    <div id="Card" class="card text-bg-dark mb-3" style="width: 18rem;">
        
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 m-auto" style="width: 500px;">
    <div class="col">
        <div class="card h-100 bg-dark">
            <img src="/img/imgcal.jpg" class="m-4" >
            <hr class="m-0" style="color:rgb(255, 255, 255)">
            <div class="card-body text-center">
                <h5 class="card-title" style="color:rgb(255, 255, 255)">Calculadora</h5>
                <p class="card-text" style="color:rgb(255, 255, 255)">Este es un programa pensado en trabajadores freelance.</p>
                <a href="calculadora" class="btn btn-success btn-primary">Usar </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 bg-dark">
            <img src="/img/nodejs-mongodb.jpg" class="m-4" style="width: 180px; height: 167px;" >
            <hr class="m-0" style="color:rgb(255, 255, 255)">
            <div class="card-body text-center">
                <h5 class="card-title" style="color:rgb(255, 255, 255)">Registros</h5>
                <p class="card-text" style="color:rgb(255, 255, 255)">Diseño para cargar datos, mostrarlos y eliminarlos de MongoDB.</p>
                <a href="mascotas" class="btn btn-success btn-primary">Usar </a>
            </div>
        </div>
    </div>
</div>