<%- include("template/headers") %>

<div class="mx-auto m-5" style="width: 350px;">
    <div id="Card" class="card text-bg-dark mb-3" style="width: 18rem;">
        <img src="./img/calculadora.jpg" class="m-4" >
        <hr class="m-0" style="color:rgb(0, 0, 0)">
        <div class="card-body text-center">
            <h5 class="card-title">Calculadora</h5>
            <p class="card-text">Este es un programa pensado en trabajadores freelance.</p>
            <a href="calculadora" class="btn btn-success btn-primary">Usar </a>
        </div>
    </div>
</div>
